/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  margin: 100px 0;
  font-family: var(--base-font-family), sans-serif;
  font-size: 18px;
  background-image: var(--page-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--base-font-wght);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 98px;
  margin-inline: auto;
  padding: var(--header-padding-y) var(--header-padding-x);
  color: var(--accent-color);
  font-family: var(--accent-font-family), fantasy;
  text-align: center;
  text-transform: uppercase;
  font-variation-settings: 'wght' var(--accent-font-wght-normal);
}

.header-logo {
  margin-bottom: 20px;
  font-size: var(--header-logo-font-size);
}

.header-title {
  font-size: var(--header-title-font-size);
}

.main {
  position: relative;
  display: grid;
  justify-content: center;
  gap: 50px;
  margin-inline: auto;
}

.card {
  width: 100%;
}

.card-header {
  margin: 6px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--accent-font-wght-bold);
}

.card-img-wrapper {
  position: relative;
}

.card-image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.card-watermark {
  position: absolute;
  inset: 25px 25px auto auto;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font-family), fantasy;

  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--card-watermark-text-stroke),
    0 1px var(--card-watermark-text-stroke),
    1px 0 var(--card-watermark-text-stroke),
    0 -1px var(--card-watermark-text-stroke);
  font-variation-settings: 'wght' var(--accent-font-wght-normal);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--card-watermark-text-stroke)) or
    (-webkit-text-stroke: 1px var(--card-watermark-text-stroke))
) {
  .card-watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--card-watermark-text-stroke);
    text-stroke: 1px var(--card-watermark-text-stroke);
  }
}

.card-text-wrapper {
  display: grid;
  gap: 25px;

  padding: 25px;
}

.card-text-wrapper .card-text {
  font-size: 18px;
  line-height: 21px;
}

button {
  /* all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  background-color: var(--color);
  cursor: pointer;
  font-variation-settings: 'wght' var(--accent-font-wght-normal); */
}

.button {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  background-color: var(--color);
  cursor: pointer;
  font-variation-settings: 'wght' var(--accent-font-wght-normal);

  position: relative;
  overflow: hidden;
  background-color: var(--color);
  transition: box-shadow 0.3s ease;
  isolation: isolate;
}

.button__text,
.save-icon {
  z-index: 1;
  color: var(--color);
  mix-blend-mode: difference;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

.heart-button {
  all: unset;
  border: 2px solid transparent;
  outline: none;
  transition: border 0.3s ease;
}

.heart-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.button:focus,
.heart-button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.save-button:focus-visible,
.dialog-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.card__like-button {
  width: 130px;
}

.save-button {
  justify-self: center;
  @media (width <= 375px) {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 306px;
    padding: 17px 0;
  }
  @media (width > 375px) {
    display: flex;
    gap: 3.5px;
    width: 335px;
    padding: 14px 0;
  }
}

.dialog-accept {
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: var(--dialog-background-color);
}

.dialog:open {
  display: grid;
  justify-content: center;
  gap: 30px;
  width: 341px;
  border: 2px solid var(--accent-color);
  @media (width <= 375px) {
    padding: 28px 38px;
  }
  @media (width > 375px) {
    padding: 28px;
  }
}

.dialog:open .dialog-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  font-variation-settings: 'wght' var(--accent-font-wght-normal);
}

.dialog:open .dialog-text {
  padding-left: 12px;
}

.dialog-icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.block-width {
  width: var(--page-width);
}

.block-border {
  border: 2px solid var(--accent-color);
}

.block-background {
  background-color: var(--color);
}

.blur {
  filter: blur(2px);
}

.drop-shadow {
  filter: drop-shadow(0 0 5px green);
}

.saturate {
  filter: saturate(158%);
}

.opacity {
  filter: opacity(0.8);
}

.hue-rotate {
  filter: hue-rotate(-90deg);
}

.brightness {
  filter: brightness(150%);
}

.grayscale {
  filter: grayscale(0.8);
}

.filter-mix {
  filter: brightness(1.3) contrast(1.1) saturate(1.5) hue-rotate(350deg)
    drop-shadow(0 0 15px rgba(255, 200, 200, 0.6));
}

.like-wrapper {
  display: flex;
  justify-content: end;
  /* gap: 7px; */
}

.like-icon {
  display: block;
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s 0.3s ease-in;
}
